<app-nav>


    <div class="flex-container">
        <div>
            <mat-grid-list cols="6" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="lightgreen">
                    <h1 class="mat-h1">Machines Page</h1><br>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="4" [rowspan]="1" [style.background]="lightgreen">

                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="lightgreen">
                    <button (click)="openCreateMachineDialog()" mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">
            <mat-icon>plus_one</mat-icon>
          </button>
                </mat-grid-tile>
            </mat-grid-list>

        </div>
        <div>

            <mat-card class="dashboard-card">
                <mat-card-header>

                    <mat-form-field fxFlex="40%">
                        <input #myInput matInput type="text" placeholder="Search by serial number" (input)="filterItem(myInput.value)">
                    </mat-form-field>


                </mat-card-header>
                <mat-card-content class="dashboard-card-content">

                    <cdk-virtual-scroll-viewport itemSize="70" class="example-viewport">
                        <mat-list role="list">
                            <mat-list-item *cdkVirtualFor="let machine of filteredItems; whenEmpty: emptyMessage" class="example-item" role="listitem">

                                <div class="list-element-flex-container">
                                    <div class="img"><img style="width: 250px; height: 250px; margin: 4px;" src="null">
                                    </div>
                                    <!-- http://localhost:3000/api/storage/{{machine.imgUrl}} -->
                                    <div class="details">
                                        <h3 matLine>{{machine.name}}</h3>
                                        <h4 matLine> Serial Number: {{machine.serialNumber}}</h4>
                                        <p matLine>
                                            <span> Description: {{machine.description}} </span>
                                        </p>

                                        <p matLine>
                                            <span> Production Year: {{machine.productionYear}}
                      </span>

                                        </p>

                                        <p matLine>
                                            <span> price: {{machine.price | currency:'ILS'}}
                      </span>

                                        </p>

                                    </div>
                                    <div class="edit">

                                        <button mat-flat-button color="primary" (click)="openUpdateMachineDialog(machine)">Edit</button>
                                    </div>
                                    <div class="delete">
                                        <div class="view-notifications-flex-container">
                                            <div class="row-one"> <button mat-raised-button (click)="delete(machine)" color="warn">Delete</button></div>
                                            <div class="row-two"> </div>
                                            <div class="row-three">
                                                <button mat-raised-button (click)="openViewMachineNotificationsDialog(machine)">View
                          Notifications</button>

                                            </div>
                                        </div>


                                    </div>
                                </div>


                                <mat-divider></mat-divider>
                            </mat-list-item>

                        </mat-list>

                        <div *ngIf="isMachinesEmpty()">
                            <h3> No Results</h3>
                        </div>

                    </cdk-virtual-scroll-viewport>


                </mat-card-content>
            </mat-card>



        </div>

        <!-- <div>

        </div> -->
    </div>

</app-nav>