.example-viewport {
    height: 600px;
}

.example-item {
    height: 50px;
}


/*****************************************/

.row1 {
    flex: 1;
}

.row2 {
    flex: 5;
}

.row3 {
    flex: 6;
}

.flex-container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0 0 100%;
    flex-direction: column;
    height: 900px;
}

.flex-container>div {
    font-size: 15px;
    padding: 10px 0;
}


/* *** list element flex *** */

.img {
    flex: 0;
}

.details {
    flex: 1;
}

.view-notifications {
    flex: 0;
}

.edit {
    flex: 0;
}

.delete {
    flex: 0;
}

.machine-details {
    width: 500px;
    word-wrap: break-word;
}

.list-element-flex-container {
    display: flex;
    gap: 8px;
    flex: 0 0 100%;
    flex-direction: row;
}

.list-element-flex-container>div {
    font-size: 15px;
    padding: 10px 0;
}


/* ************************* */

.dashboard-card {
    position: absolute;
    top: 200px;
    left: 50px;
    right: 50px;
    bottom: 100px;
    height: 700px;
}


/* .dashboard-card-content {} */


/* mat tab */

.mat-tab-group {
    margin: 4px;
}


/* ***** view notifications flex ***** */

h1 {
    font-family: 'Trebuchet MS', sans-serif;
}