<div class="center">
  <h2 mat-dialog-title>Create Member </h2>
</div>

<div class="center">

  <form *ngIf="addMemberForm && member" #theForm="ngForm" [formGroup]="addMemberForm">
    <p>
      <mat-form-field appearance="standard">
        <mat-label>first name</mat-label>
        <input [(ngModel)]="member.firstName" name="firstName" formControlName="firstName" matInput
          placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="standard">
        <mat-label>last name</mat-label>
        <input [(ngModel)]="member.lastName" name="lastName" formControlName="lastName" matInput
          placeholder="Last Name">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input [(ngModel)]="member.email" type="email" name="email" formControlName="email" matInput
          placeholder="Email">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="standard">
        <mat-label>join Date</mat-label>
        <input [(ngModel)]="member.joinDate" type="date" name="joinDate" formControlName="joinDate" matInput
          placeholder="join time">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="standard">
        <mat-label>End Date</mat-label>
        <input [(ngModel)]="member.endOfMembershipDate" type="date" name="endOfMembershipDate"
          formControlName="endOfMembershipDate" matInput placeholder="End Date">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="standard">
        <mat-label>Phone</mat-label>
        <input [(ngModel)]="member.phone" name="phone" formControlName="phone" matInput placeholder="Phone">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="standard">
        <mat-label>Address</mat-label>
        <input [(ngModel)]="member.address" type="text" name="address" formControlName="address" matInput
          placeholder="Address">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="standard">
        <mat-label>BirthDay</mat-label>
        <input [(ngModel)]="member.birthDay" type="date" name="birthDay" formControlName="birthDay" matInput
          placeholder="BirthDay">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="standard">
        <mat-label>Image - <small>Optional</small></mat-label>
        <input [(ngModel)]="member.imageURL" type="text" name="imageURL" formControlName="imageURL" matInput
          placeholder="Image">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>

    <button id="add-member-btn" class="btn btn-primary btn-block" [disabled]="!theForm.valid" (click)="create()">
      Add member
    </button>
  </form>
</div>
