<div class="center">
  <h2 mat-dialog-title>Create Member </h2>
</div>



<form *ngIf="addMemberForm && member" #theForm="ngForm" [formGroup]="addMemberForm" class="normal-form">

  <div class="grid-container">
    <div class="first-name">
      <mat-form-field>
        <mat-label>first name</mat-label>
        <input [(ngModel)]="member.firstName" name="firstName" formControlName="firstName" matInput
          placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>
    <div class="last-name">
      <mat-form-field>
        <mat-label>last name</mat-label>
        <input [(ngModel)]="member.lastName" name="lastName" formControlName="lastName" matInput
          placeholder="Last Name">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

    </div>
    <div class="end-date">
      <mat-form-field class="wide">
        <mat-label>End Date</mat-label>
        <input [(ngModel)]="member.endOfMembershipDate" type="date" name="endOfMembershipDate"
          formControlName="endOfMembershipDate" matInput placeholder="End Date">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

    </div>
    <div class="email-class">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input [(ngModel)]="member.email" type="email" name="email" formControlName="email" matInput
          placeholder="Email">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>
    <div class="address-class">
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input [(ngModel)]="member.address" type="text" name="address" formControlName="address" matInput
          placeholder="Address">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>
    <div class="phone">
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input [(ngModel)]="member.phone" name="phone" formControlName="phone" matInput placeholder="Phone">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>
    <div class="birthday">
      <mat-form-field>
        <mat-label>Birth Day</mat-label>
        <input [(ngModel)]="member.birthDay" type="date" name="birthDay" formControlName="birthDay" matInput
          placeholder="BirthDay">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>

    <div class="join-date">
      <mat-form-field class="wide">
        <mat-label>join Date</mat-label>
        <input [(ngModel)]="member.joinDate" type="date" name="joinDate" formControlName="joinDate" matInput
          placeholder="join time">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>

    <div class="gender">
      <mat-radio-group [(ngModel)]="member.gender" formControlName="gender" aria-label="Select an option">
        <mat-radio-button value="1">Male</mat-radio-button>
        <mat-radio-button value="2">Female</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="image">
      <mat-form-field class="wide">
        <mat-label>Image - <small>Optional</small></mat-label>
        <input [(ngModel)]="member.imageURL" type="text" name="imageURL" formControlName="imageURL" matInput
          placeholder="Image">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>

  </div>





  <div class="center">
    <button id="add-member-btn" class="btn btn-primary btn-block" [disabled]="!theForm.valid" (click)="create()">
      Add member
    </button>
  </div>
</form>


<!-- 
<form *ngIf="addMemberForm && member" #theForm="ngForm" [formGroup]="addMemberForm" class="normal-form">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
          <input formControlName="fullName" matInput placeholder="Full Name*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email">
          <mat-error>Invalid email address.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="mobile" matInput placeholder="Mobile*">
          <mat-error *ngIf="addMemberForm['mobile'].errors?.required">This field is mandatory.</mat-error>
          <mat-error *ngIf="addMemberForm['mobile'].errors?.minlength">Minimum 8 charactors needed.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="city" matInput placeholder="City">
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <div class="add-bottom-padding">
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="1">Male</mat-radio-button>
            <mat-radio-button value="2">Female</mat-radio-button>
            <mat-radio-button value="3">Other</mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-form-field>
          <mat-select formControlName="department" placeholder="Department">
            <mat-option>None</mat-option>
            <ng-container *ngFor="let department of departments">
              <mat-option value="{{department.id}}">{{department.value}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="hireDate" matInput [matDatepicker]="picker" placeholder="Hire Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="add-bottom-padding">
          <mat-checkbox formControlName="isPermanent">Permanent Employee</mat-checkbox>
        </div>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="theForm.invalid">Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form> -->
