.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

#main {
  /* width: 220px;
  height: 300px; */
  display: flex;
  align-items: center;
}

#main div {
  flex: 1;
}

.flex-container {
  display: flex;
  background-color: white;
}

.flex-container > div {
  color: white;
  width: 500px;
  margin-left: 50px;;
  line-height: 75px;
  font-size: 30px;
}
