<app-nav>
    <div class="flex-container">
        <div>
            <div class="flex-container-header">
                <div class="header-title">
                    <h1 class="mat-h1">Home Page</h1>
                </div>

                <div class="header-actions"></div>

            </div>
        </div>
        <div>

            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>

                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div class="grid-container">
                        <div class="grid-item">
                            <div class="flex-container-inside-card">
                                <div>
                                    <h2>Added members peer month</h2>
                                </div>
                                <div>
                                    <app-members-chart></app-members-chart>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item">

                            <div class="flex-container-inside-card">
                                <div>
                                    <h2>Sold products peer month</h2>
                                </div>
                                <div>
                                    <app-products-chart></app-products-chart>

                                </div>
                            </div>

                        </div>

                        <div class="grid-item">
                            <div class="flex-container-inside-card">
                                <div>
                                    <h2>Members Genders</h2>
                                </div>
                                <div>
                                    <app-doughnut-chart></app-doughnut-chart>
                                </div>
                            </div>

                        </div>




                    </div>



                </mat-card-content>
            </mat-card>



        </div>
    </div>

</app-nav>