<app-nav>
    <div class="grid-container">
        <h1 class="mat-h1">Home Page</h1>
        <mat-grid-list cols="1" rowHeight="320px">
            <mat-grid-tile [colspan]="1" [rowspan]="2">
                <mat-card class="dashboard-card">
                    <mat-card-header>
                        <mat-card-title>

                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <mat-grid-list cols="2" rowHeight="300px">
                            <mat-grid-tile [colspan]="1" [rowspan]="2">


                                <div class="flex-container">
                                    <div>
                                        <h2>Added members by month</h2>
                                    </div>
                                    <div>
                                        <app-members-chart></app-members-chart>
                                    </div>
                                </div>


                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="1" [rowspan]="2">

                                <div class="flex-container">
                                    <div>
                                        <h2>Members Genders</h2>
                                    </div>
                                    <div>
                                        <app-doughnut-chart></app-doughnut-chart>
                                    </div>
                                </div>





                            </mat-grid-tile>
                        </mat-grid-list>



                    </mat-card-content>
                </mat-card>



            </mat-grid-tile>



        </mat-grid-list>
    </div>
</app-nav>