<app-nav><br>
    <div class="grid-container">
        <h1 class="mat-h1">Trainers Page</h1>
        <mat-grid-list cols="2" rowHeight="350px">
            <mat-grid-tile [colspan]="2" [rowspan]="3">
                <mat-card class="dashboard-card">
                    <mat-card-header>
                        <mat-card-title>
                            All Trainers
                            <button class="add-button" type="button" (click)="openCreateTrainerDialog()" mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">
                <mat-icon>plus_one</mat-icon>
              </button>

                            <mat-menu #menu="matMenu" xPosition="before">
                                <button mat-menu-item>Expand</button>
                                <button mat-menu-item>Remove</button>
                            </mat-menu>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">

                        <app-trainers-table></app-trainers-table>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

        </mat-grid-list>
    </div>
</app-nav>