<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="row">
    <div class="col-6 col-md-4"></div>
    <div class="col-6 col-md-4"><br><br><br><br><br></div>
    <div class="col-6 col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-6 col-md-4"></div>
    <div class="col-6 col-md-4">
      <!-- <blockquote class="text-center">
        <h1>LOG IN</h1>
      </blockquote>
      <form class="form" #loginForm="ngForm" novalidate (ngSubmit)="login(loginForm.value)">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email" required email ngModel />
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password"
            required minlength="3" ngModel />
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="check" id="exampleCheck1" ngModel />
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" name="submit" class="btn btn-primary">Submit</button>
      </form><br> -->

      <!-- <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form class="example-form" #loginForm="ngForm" novalidate (ngSubmit)="login(loginForm.value)">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput type="email" name="email" placeholder="Email" required email ngModel required>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input matInput minlength="3" placeholder="Password" ngModel type="password" name="password"
                      required>
                  </mat-form-field>
                </td>
              </tr>
            </table>

            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>

             <mat-card-actions> 
              <button mat-raised-button type="submit" name="submit" color="primary">Login</button>
           </mat-card-actions> 
          </form>
        </mat-card-content>

      </mat-card> -->


      <mat-card>
        <mat-card-content>
          <div class="header">
            <P>Sign Into Your Account </P>
          </div>
          <form (keydown.enter)="handleEnterKeyPress($event)" (ngSubmit)="login()" name="loginForm" [formGroup]="loginForm">
            <div class="emailInput">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput ngModel placeholder="Enter email address" required />
                <mat-error *ngIf="!loginForm.controls['email'].valid">
                  Email is required
                </mat-error>
              </mat-form-field>
            </div>

            <div>
              <span>
                <a class="text-link" class="aLink" routerLink="/auth/forgot-password">Forgot Password?</a>
              </span>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input formControlName="password" ngModel matInput [type]=" hide ? 'password' : 'text'" required />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>
                    {{hide ? 'visibility_off' : 'visibility'}}
                  </mat-icon>
                </button>
                <mat-error *ngIf="!loginForm.controls['password'].valid">
                  Password is required
                </mat-error>
              </mat-form-field>
            </div>
            <button mat-flat-button [disabled]="!loginForm.valid" color="primary">Login</button>
          </form>

          <div class="button-row">
            <p>Create New Account</p>
          </div>
        </mat-card-content>
      </mat-card>



    </div>

    <div class="col-6 col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-6"></div>
    <div class="col-6"></div>
    <div class="col-6"></div>
  </div>




</body>

</html>
