<app-nav-bar></app-nav-bar>

<app-add-member></app-add-member>

<input class="form-control mr-sm-2" [(ngModel)]="searchValue" name="searchInMembers" type="search" placeholder="Search"
  aria-label="Search">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">first name</th>
      <th scope="col">last name</th>
      <th scope="col">birthDay</th>
      <th scope="col">email</th>
      <th scope="col">address</th>
      <th scope="col">status</th>
      <th scope="col">Join date</th>
      <th scope="col">action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let member of members$ | searchfilter:searchValue | async ">
      <td> </td>
      <td><img style="height: 60px; width: 60px;" src="{{member.imageURL }}"></td>
      <td>{{member.firstName }}</td>
      <td>{{member.lastName }}</td>
      <td>{{member.birthDay | date }}</td>
      <td>{{member.email }}</td>
      <td>{{member.address }}</td>
      <td [ngClass]="{'btn btn-success' : member.isActive,
                      'btn btn-danger' : !member.isActive}">{{getActiveDisplayString(member) }}</td>
      <td>{{member.joinDate | date }}</td>
      <td><button (click)="delete(member.id, member.firstName)" type="button" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
