<div class="center">
    <h2 mat-dialog-title>Edit Product </h2>
</div>

<form *ngIf="updateProductForm" #theForm="ngForm" [formGroup]="updateProductForm" (ngSubmit)="update(theForm.value)">

    <mat-grid-list cols="4" rowHeight="70px">
        <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="lightblue">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Product name</mat-label>
                <input matInput type="text" [(ngModel)]="product.name" name="name" formControlName="name" placeholder="Product name">
            </mat-form-field>

        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="lightblue">

        </mat-grid-tile>



        <mat-grid-tile [colspan]="4" [rowspan]="1" [style.background]="lightblue">

            <mat-form-field appearance="fill" class="wide">
                <mat-label>description</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" name="description" formControlName="description" [(ngModel)]="product.description" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" placeholder="Product description"></textarea>
            </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="lightblue">
            <mat-form-field appearance="fill">
                <mat-label>Code</mat-label>
                <input matInput type="text" name="code" formControlName="code" [(ngModel)]="product.code" placeholder="Product Code">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="lightblue">
        </mat-grid-tile>


        <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="lightblue">
            <mat-form-field class="frequency-full-width" appearance="fill">
                <mat-label>Quantity</mat-label>
                <input type="number" formControlName="quantity" [(ngModel)]="product.quantity" matInput placeholder="Quantity" value="1">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="lightblue">

        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="lightblue">
            <mat-form-field appearance="fill">
                <mat-label>Category</mat-label>
                <mat-select formControlName="categoryID" [(ngModel)]="product.categoryID">
                    <mat-option value="1">protein</mat-option>
                    <mat-option value="2">BCAA</mat-option>
                    <mat-option value="3">Glutamine</mat-option>
                    <mat-option value="4">Creatine</mat-option>
                    <mat-option value="5">Clothes</mat-option>
                </mat-select>
            </mat-form-field>

        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="lightblue">

        </mat-grid-tile>

        <mat-grid-tile [colspan]="4" [rowspan]="1" [style.background]="lightblue">
            <mat-form-field appearance="fill" class="wide">
                <mat-label>Image - <small>Optional</small></mat-label>
                <input [(ngModel)]="product.imgUrl" type="text" name="imgUrl" formControlName="imgUrl" matInput placeholder="Image">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>


        </mat-grid-tile>



    </mat-grid-list>

    <button id="update-product-btn" class="btn btn-primary btn-block" [disabled]="!theForm.valid">
    Update </button>

</form>